body {
    font-family: arial, sans-serif;
    margin: 0;
}

#logo-div {
    margin: 0 auto;
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#google-logo {
    position: relative;
    top: 10vh;
}

#searchbar-div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

#searchbar-div [type="text"] {
    width: 40vw;
    height: 1.5rem;
    border-radius: 10px;
    padding: 1%;
    font-size: 1rem;
    font-weight: 200;
    border: 1px solid rgb(242, 242, 242);;
}

#search-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh 0 0 0;
}

#search-buttons [type="button"] {
    background-color: rgb(242, 242, 242);
    border: 1px solid rgba(1, 1, 1, 0);
    font-size: 1rem;
    margin: 0 1vw;
    padding: 1vh 2vw;
    border-radius: 4px;
}

#search-buttons [type="button"]:hover {
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
